#chat-screen{
  background-color: #abc1d1;
  height:1100vh;
}

#chat-screen .alt-header{
  position:sticky;
  top:26px;
  width:100%;
  box-sizing: border-box;
  background-color: #abc1d1;
  z-index:1;
}

#chat-screen .status-bar{
  z-index:1;
  background-color: #abc1d1;
}

.main-chat{
  z-index:0;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.chat-timestamp{
  color:white;
  background-color:#92a4b2;
  padding:10px;
  border-radius:20px;
  font-size:14px;
  margin-bottom:25px;
}

.message-row{
  width:100%;
  display:flex;
  margin-bottom:25px;
}

.message-row img{
  width:50px;
  height:50px;
  border-radius:50%;    
  margin-right:15px;
}

.message__author{
  opacity:0.9;
  font-size:13px;
  margin-bottom:4px;
  display:block;
}
.message__info{
  display:flex;
  align-items:flex-end;
}
.message__bubble{
  background-color:white;
  padding:11px 12px;
  border-radius:12px;
  border-top-left-radius:0;
  margin-right:5px;
}

.message__author,
.message_time{
  font-size:13px;
  opacity:0.9;
}
.message-row--own{
  justify-content: flex-end;
}

.message-row--own .message__bubble{
  background-color: var(--yellow);
  border-top-right-radius:0;
  border-top-left-radius:12px;
  margin-right:0px;
  margin-left:5px;
}

.message-row--own .message__info{
  flex-direction: row-reverse;
}