.status-bar{
  position:sticky;
  display: flex;
  top: 0;
  width: 100%;
  box-sizing:border-box;
  justify-content:center;
  padding:5px;
}

.stauts-bar__column{
  width:33%;
}

.stauts-bar__column:nth-child(2){
  display: flex;
  justify-content:center;
}

.stauts-bar__column:last-child{
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.stauts-bar__column:first-child span{
  margin-right:5px;
}

.stauts-bar__column .fa-battery-full{
  margin:0px 5px;
}
